body {
  margin: 0;
  overflow: hidden;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}